<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
<% else %>
<div class="center jumbotron">
  <div class="text-center">
    <h1>QAMのわかりやすい画像が入ります。</h1>
    <%= link_to '新規登録はこちら', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>

<div id="qam-description">
      <h2>QAM(クエム)とは・・・？</h2>
      <section>
          <p>Question Anser Memoの略です。</p>
          <p>わからない事(Question)　分かった事(Anser)<br>として投稿形式で簡単にメモが出来ます。</p>
          <p>画像が入ります</p>
      </section>
      <section>
          <h2>メモを共有する</h2>
          <p>わからない基準や視点は人それぞれ。<br>中には自分と同じ疑問を持ち、自分にとってわかりやすい<br>覚え方をしている人がいるかも知れません。</p>
          <p>逆に自分のメモがわかりやすいと評価を受けるかも<br>知れません。同じ目線や感性を持った人と友達になり勉強の効率化を図りましょう!</p>
          <p>新規登録のボタンが入ります</p>
      </section>
      <section>
          <h2>理解度別に保存が出来る</h2>
          <ul>
              <li>メモの中には、理解しているけど残しておきたいもの。</li>
              <li>理解したつもりだけど、忘れそうだから残したいもの。</li>
              <li>わからなくて後で復習予定のもの。</li>
          </ul>
          <p>人それぞれメモの中にも残す理由はあると思います・・・</p>
          <p>(理解) (うーん) (さっぱり)</p>
          <h3>メモをする際に3つの理解度の中から選択</h3>
          <ul>
              <li>読み返しの効率化。メモをひたすらしてると後で読み返<br>
              す時に苦労するものです。手軽に分けられるメモは重宝します。</li>
              
              <li>他の人の理解出来ていない投稿から、理解出来る過程が<br>
              見れる。これにより、同じ目線、段階から勉強をした人が<br>
              どのタイミングで、どの言葉や、文章で理解したかを知る<br>
              ことも出来ます。</li>
              
              <li>コメント欄からアドバイスを貰う際に理解度が分かると<br>
              教える側からしても、どの段階から教えて良いかがわかり<br>
              やすい。また、理解してる人の投稿にコメントする事で、<br>
              理解してると分かってる方に直接聞く事が出来ます。</li>
          </ul>
          <p>効率的な勉強をしてみましょう！</p>
          <p>新規登録ボタンが後で入ります</p>
      </section>
  </div>
<% end %>  