<ul>
    <h2>投稿情報</h2>
    <% @posts.each do |post| %>
      <li class="tabel table-bordered">
        <tr>
          <td><span class="badge badge-danger">新着</span><%= link_to post.created_at.to_s + 'タイトル：' + post.title, post %></td>
        </tr>      
      </li>
    <% end %>
  </table>
</ul>  